.venv/
apikey.txt
*~
saves/
__pycache__/
./a
**/__pycache__
build
**.egg-info
.venv
.DS_Store
.ideapienv.sh

applications_data/
path/to/venv/
gpterminator/applications/*/generated/
gpterminator/applications/*/types-summarized-high-level.json
gpterminator/applications/*/types-detailed.json
gpterminator/applications/*/types-high-level.json
gpterminator/applications/*/example-pages.json
